body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #007bff;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th,
td {
    padding: 0.8rem;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

ol,
ul {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

code {
    display: block;
    font-family: 'Courier New', monospace;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1rem;
}